<!DOCTYPE html>
<html>
  <head>
  <title>Infinite Industries: Event - {{event.title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://infinite.industries/event/{{event.id}}">

  <meta name="title" content="Infinite Industries: Event - {{event.title}}">
  <meta name="referrer" content="unsafe-url">
  <meta name="description" content="{{event.brief_description | safe}}">
  <meta name="robots" content="index, noarchive, nocache">
  <meta name="theme-color" content="#0000ff">

  <meta property="author" content="infinte industries">
  <meta property="article:publisher" content="https://www.facebook.com/medium">
  <meta property="article:author" content="https://medium.com/@dima_strakovsky">

  <meta property="og:title" content="{{event.title}}" />
    <meta property="og:site_name" content="Infinite Industries">
  <meta property="og:url" content="https://infinite.industries/event/{{event.id}}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{event.brief_description | safe}}" />
  <!-- <meta property="og:image" content="https://infinite.industries/images/og_image_big.png" /> -->
  <meta property="og:image:alt" content="Check out {{event.title}}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@1nfinite_1" />
  <meta name="twitter:creator" content="@1nfinite_1">
  <meta name="twitter:title" content="{{event.title}}" />
  <meta name="twitter:description" content="{{event.brief_description | safe}}" />
  <!-- <meta name="twitter:image:src" content="http://infinite.industries/public/images/infinite_logo_open_graph.png" /> -->

  <!-- article:published_time - datetime - When the article was first published.
  article:modified_time - datetime - When the article was last changed.
  article:expiration_time - datetime - When the article is out of date after.
  <link rel="publisher" href="https://plus.google.com/103654360130207659246">
  <meta property="article:published_time" content="2017-09-18T20:19:41.486Z">
  -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="/style.css" rel="stylesheet">

</head>
<body>
    <div class="container event-heading">
      <div class="row">
        <div class="col s10">
          <h1>{{event.title}}</h1>
          <h3>{{event.when}}</h3>
        </div>
        <div class="col s2 event-close">
          <a href="{{site_url}}"><i class="medium material-icons">close</i></a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <img src="{{event.image}}" width="100%" height="auto" />
        </div>
      </div>
    </div>
    <div class="container event-description">
      <div class="row">
        <div class="col s12" style="text-align:right;">
          <span class="atc-style-blue">
            <a href="{{event.map_link}}" class="event-map-button" target="_new">Event Map</a>
          </span>
          <span class="addtocalendar atc-style-blue">
              <var class="atc_event">
                  <var class="atc_date_start">{{event.time_start}}</var>
                  <var class="atc_date_end">{{event.time_end}}</var>
                  <var class="atc_timezone">America/Detroit</var>
                  <var class="atc_title">{{event.title}}</var>
                  <var class="atc_description">{{event.brief_description}}</var>
                  <var class="atc_ical_filename">{{event.slug}}</var>
                  <var class="atc_location">{{event.venues[0]}}</var>
              </var>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          {{event.description | safe}}
        </div>
      </div>

    </div>

    <script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>


  </body>
</html>
