<!DOCTYPE html>
<html>
  <head>
  <title>Infinite Industries: Event - {{event.title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://infinite.industries/event/{{event.id}}">
  <link rel="me" href="https://twitter.com/1nfinite_1">

  <meta name="title" content="Infinite Industries: Event - {{event.title}}">
  <meta name="referrer" content="unsafe-url">
  <meta name="description" content="{{event.brief_description | safe}}">
  <meta name="robots" content="index, noarchive, nocache">
  <meta name="theme-color" content="#0000ff">

  <meta property="author" content="infinte industries">
  <meta property="article:publisher" content="https://www.facebook.com/medium">
  <meta property="article:author" content="https://medium.com/@dima_strakovsky">

  <meta property="og:title" content="{{event.title}}" />
  <meta property="og:site_name" content="Infinite Industries">
  <meta property="og:url" content="https://infinite.industries/event/{{event.id}}" />
  <meta property="og:type" content="article" />
  <meta property="fb:app_id" content="510767252621911">
  <meta property="og:description" content="{{event.brief_description | safe}}" />

  <meta property="og:image:alt" content="Check out {{event.title}}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@1nfinite_1" />
  <meta name="twitter:creator" content="@1nfinite_1">
  <meta name="twitter:title" content="{{event.title}}" />
  <meta name="twitter:description" content="{{event.brief_description | safe}}" />

  {% if event.hasOwnProperty('social_image') and event.social_image!='none' %}
    <meta property="og:image" content="{{event.social_image}}" />

    <meta name="twitter:image:src" content="{{event.social_image}}" />
    {% else %}
    <meta property="og:image" content="{{site_url}}/images/social/default.jpg" />

    <meta name="twitter:image:src" content="{{site_url}}/images/social/default.jpg" />
  {% endif %}


  <!-- article:published_time - datetime - When the article was first published.
  article:modified_time - datetime - When the article was last changed.
  article:expiration_time - datetime - When the article is out of date after.
  <link rel="publisher" href="https://plus.google.com/103654360130207659246">
  <meta property="article:published_time" content="2017-09-18T20:19:41.486Z">
  -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
  <script src="https://use.fontawesome.com/9929e77eb0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/event-page.css" rel="stylesheet">

</head>
<body>
    <div class="container event-heading">
      <div class="row">
        <div class="col s10">
          <h1>{{event.title}}</h1>
          <h3>{{event.when | safe}}</h3>
          <h3>{{event.venue.name}}</h3>
        </div>
        <div class="col s2 event-close">
          <a href="javascript:goBack()"><i class="medium material-icons">close</i></a>
          <script>
            function goBack() {
              window.history.go(-1);
            }
          </script>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <img src="{{event.image}}" width="100%" height="auto" />
        </div>
      </div>
    </div>
    <div class="container event-description">
      <div class="row">
        <div class="col m12 l6 social-and-link">
          <span class="social-media-links">
            {% if event.hasOwnProperty('fb_event_link') and event.fb_event_link!="none" %}
              <div class="fb-share-button" data-href="https://infinite.industries/event/{{event.id}}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Finfinite.industries%2Fevent%2F{{event.id}}">Share</a></div>
            {% endif %}
            <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20event%20" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            {% if event.hasOwnProperty('bitly_link') and event.bitly_link!="none" %}
            <button class="btn" data-clipboard-text="{{event.bitly_link}}" style="padding-right:18px"><i class="fa fa-link fa-3x" aria-hidden="true"></i>Copy Link</button>
            {% endif %}

          </span>
        </div>
        <div class="col l1 hide-on-med-and-down"></div>
        <div class="col m12 l5 map-and-calendar">
          <div class="infinite-button infinite-button-blue">
            <a href="{{event.map_link}}" target="_new">Event Map</a>
          </div>
          <div class="infinite-dropdown">
            <div class="infinite-button infinite-button-white dropbtn">
              <a href="javascript:toggleDropdown()">Download Event</a>
            </div>
            <div id="calDropdown" class="infinite-dropdown-content">
              <a href='javascript:addToCalendar(0)'>iCal</a>
              <a href='javascript:addToCalendar(0)'>Outlook</a>
              <a href='javascript:addToCalendar(1)'>Google Calendar</a>
            </div>
          </div>
          <script>
          function toggleDropdown() {
            document.getElementById("calDropdown").classList.toggle("show");
          }
          //close dropdown(s) when you click outside
          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

              var dropdowns = document.getElementsByClassName("infinite-dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
          function addToCalendar(type) {
            const title = "{{event.title}}";
            const desc = "{{event.brief_description}}";
            const location = "{{event.address}}";
            const time_start = "{{event.time_start}}";
            const time_end = "{{event.time_end}}";
            if (type == 0) { // .ics
              window.open(`/calendar?title=${encodeURIComponent(title)}&description=${encodeURIComponent(desc)}&location=${encodeURIComponent(location)}&time_start=${encodeURIComponent(time_start)}&time_end=${encodeURIComponent(time_end)}`);
            } else { // google cal
              const time_start_formatted = moment(time_start).format('YYYYMMDDTHHmmss');
              const time_end_formatted = moment(time_end).format('YYYYMMDDTHHmmss');
              window.open(`https://www.google.com/calendar/render?action=TEMPLATE&text=${encodeURIComponent(title)}&dates=${encodeURIComponent(time_start_formatted)}/${encodeURIComponent(time_end_formatted)}&details=${encodeURIComponent(desc)}&location=${encodeURIComponent(location)}`);
            }
          }
          </script>
        </div>
      </div>

      {% if event.hasOwnProperty('admission_fee') and event.admission_fee!="none" %}
       <div class="row">
         <div class="col s12">
           <em>Admission Fee: {{event.admission_fee}}</em>
         </div>
       </div>
     {% endif %}

      <div class="row">
        <div class="col s12">
          {{event.description | safe}}
        </div>
      </div>

      {% if event.hasOwnProperty('website_link') and event.website_link!="none" %}
        <div class="row">
          <div class="col s12">
            <a href="{{event.website_link}}" target="_new">Event Website</a>
          </div>
        </div>
      {% endif %}

      {% if event.hasOwnProperty('fb_event_link') and event.fb_event_link!="none" %}
        <div class="row">
          <div class="col s12">
            <a href="{{event.fb_event_link}}" target="_new">Facebook Event Link</a>
          </div>
        </div>
      {% endif %}


      {% if event.hasOwnProperty('eventbrite_link') and event.eventbrite_link!="none" %}
        <div class="row">
          <div class="col s12">
            <a href="{{event.eventbrite_link}}" target="_new">Eventbrite Link</a>
          </div>
        </div>
      {% endif %}

      {% if event.hasOwnProperty('ticket_link') and event.ticket_link!="none" %}
        <div class="row">
            <div class="col s12">
              <a href="{{event.ticket_link}}" target="_new">Buy Tickets</a>
            </div>
        </div>
      {% endif %}

    </div>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=510767252621911";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript">(function () {

      var clipboard = new Clipboard('.btn');

      clipboard.on('success', function(e) {
          // console.info('Action:', e.action);
          console.info('URL:', e.text);
          window.alert("Copied the URL. Now you can paste it into emails, tweets or any other announcements. Enjoy!")
          // console.info('Trigger:', e.trigger);

      });

      clipboard.on('error', function(e) {
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
      });
    </script>
  </body>
</html>
