<!DOCTYPE html>
<html>
  <head>
  <title>rrRt Portal Prototype</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="App"> </div>

    <script src="/js/dist.js"></script>

  </body>
</html>
