<!DOCTYPE html>
<html>
  <head>
    <title>Infinite Industries</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://infinite.industries/subscribe-email">
    <link rel="me" href="https://twitter.com/1nfinite_1">

    <meta name="title" content="Infinite Industries">
    <meta name="referrer" content="unsafe-url">
    <meta name="description" content="Infinite Industries is an experimental digital platform that makes high quality contemporary culture accessible to everyone.">
    <meta name="theme-color" content="#0000ff">

    <meta property="author" content="infinte industries">
    <meta property="article:publisher" content="https://www.facebook.com/infinite.dot.industries/">
    <meta property="article:author" content="https://medium.com/@dima_strakovsky">

    <meta property="og:title" content="Infinite Industries" />
    <meta property="og:site_name" content="Infinite Industries">
    <meta property="og:url" content="https://infinite.industries" />
    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="510767252621911">
    <meta property="og:description" content="Infinite Industries is an experimental digital platform that makes high quality contemporary culture accessible to everyone." />

    <meta property="og:image:alt" content="Infinite Industries" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@1nfinite_1" />
    <meta name="twitter:creator" content="@1nfinite_1">
    <meta name="twitter:title" content="Infinite Industries" />
    <meta name="twitter:description" content="Infinite Industries is an experimental digital platform that makes high quality contemporary culture accessible to everyone." />
    <meta property="og:image" content="https://infinite.industries/images/default.jpg" />
    <meta name="twitter:image:src" content="https://infinite.industries/images/default.jpg" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <!-- <link href="/css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <div id="App">
    </div>

    <script src="/js/dist.js"></script>

    <!-- Yandex.Metrika counter -->
    <!-- <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter47982824 = new Ya.Metrika2({
                        id:47982824,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/47982824" style="position:absolute; left:-9999px;" alt="" /></div></noscript> -->
    <!-- /Yandex.Metrika counter -->

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73795062-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-73795062-1');
    </script>

  </body>
