/* Event show page styling */

body {
  background-color: #000;
}

.form-container {
  padding: 10px;
  padding-left: 20px;
  margin-top: 120px;
  border-radius: 10px;
  color: black;
  background-color: white;
  width: 85%;
}

@media only screen and (min-width: 960px) {

  /* horizontally center event container with extra top and bottom margin on larger screens */
  .form-container {
    margin: 120px auto;
  }
}


h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: .02em;

}

h1{
  font-size: 1.9em;
  font-weight: bold;
  margin-bottom: 0.7em;
}

h2, h3{
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: .5em;
}


p {
  font-family: "EB Garamond";
  font-size: 1.25em;
}

.copy-container {
  padding:20px;
}

.copy-container p {
  margin-top: 30px;
}

form {
  font-family: "Open Sans", sans-serif;
}

form .layout .form-label {
  display: block;
  padding-right: 15px;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 22px;
  letter-spacing: normal;
  line-height: normal;
}

@media only screen and (min-width: 600px) {
  form .layout .form-label {
    text-align: right;
  }
}

form .submit-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
