[Unit]
Description=Backup the database

[Service]
User=infinite
Group=infinite
Type=oneshot
WorkingDirectory=/home/infinite
Environment="IMAGE_TAG={{ image_version }}"
ExecStart=/home/infinite/bin/backup

[Install]
WantedBy= multi-user.target

