PGDATABASE={{ pgdatabase }}
PGHOST={{ pghost }}
PGPORT={{ pgport }}
PGUSER={{ pguser }}
PGPASSWORD={{ pgpassword }}

S3_BUCKET={{ backup_aws_s3_bucket }}
S3_PATH=db

AWS_REGION={{ backup_aws_region }}
AWS_ACCESS_KEY_ID={{ backup_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ backup_aws_secret_access_key }}

NUM_BACKUPS=8
