# This file can be copied to .env. After copying you can use it to override environment values. You can also set values
# via the hosts environment.

# For local development you may not need to do this. Sane local defaults are provided for each of these values when not
# set. See src/constants.ts anda db_constants.js

# Because defaults are based on local development it is important to explicitly provide values for production.

# The server uses a postgres database to store and retrieve information
DB_USER_NAME=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=
SQL_IS_USING_SSL=

# Test users can be enabled to allow login in local dev environments. This will bypass auth0
AUTH_USE_TEST_USERS=

# The environment {dev|staging|prod}
ENV=

# This can be set to production (not sure if this is actually used)
MODE=

# The public location of the frontend service (for example https://infinite.industries)
APP_URL=

DOMAIN=

# The Port to run the application on
PORT=

# Slack webhooks are used to send messages about events on the website to a slack channel (they are not required)
SLACK_WEBHOOK_EVENT_SUBMISSION=
SLACK_WEBHOOK_VENUE_SUBMISSION=

# Bitly is used to provided shortened urls for sharing events to social media
BITLY_TOKEN=

# Auth0 is used for authentication in production environments
AUTH0_CLIENT_ID=
AUTH0_CLIENT_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_CLIENT_SECRET=

# Can be used to override where the pem used to validate JWTs is stored
JWT_PEM=
