# Because defaults are based on local development it is important to explicitly provide values for production.

# The server uses a postgres database to store and retrieve information
DB_PASSWORD='{{ pgpassword }}'
DB_NAME={{ pgdatabase }}
DB_PORT={{ pgport }}
DB_HOST={{ pghost }}
DB_USER_NAME={{ pguser }}
SQL_IS_USING_SSL={{ sql_is_using_ssl }}

# Test users can be enabled to allow login in local dev environments. This will bypass auth0
AUTH_USE_TEST_USERS={{ auth_use_test_users }}

# The environment {dev|staging|prod}
ENV={{ env }}

# This can be set to production (not sure if this is actually used)
MODE=

# The public location of the frontend service (for example https://infinite.industries)
APP_URL={{ app_url }}

DOMAIN=

# The Port to run the application on
PORT={{ api_port }}

# Slack webhooks are used to send messages about events on the website to a slack channel (they are not required)
SLACK_WEBHOOK_EVENT_SUBMISSION={{ slack_webhook_event_submission }}
SLACK_WEBHOOK_VENUE_SUBMISSION={{ slack_webhook_venue_submission }}

# Auth0 is used for authentication in production environments
AUTH0_CLIENT_ID={{ auth0_client_id }}
AUTH0_CLIENT_DOMAIN={{ auth0_client_domain }}
AUTH0_AUDIENCE={{ auth0_audience }}
AUTH0_CLIENT_SECRET='{{ auth0_client_secret }}'

# Can be used to override where the pem used to validate JWTs is stored
JWT_PEM=

MAP_BOX_API_KEY={{ map_box_api_key }}

# AWS
AWS_REGION={{ images_aws_region }}
AWS_ACCESS_KEY_ID={{ images_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY='{{ images_aws_secret_access_key }}'
AWS_S3_UPLOADS_BUCKET={{ images_aws_s3_bucket }}

# Anothropic / AI Summarization Service
ANTHROPIC_API_KEY='{{anthropic_api_key}}'
