PGDATABASE={{ pgdatabase }}
PGHOST={{ pghost }}
PGPORT={{ pgport }}
PGUSER={{ pguser }}
PGPASSWORD={{ pgpassword }}

S3_BUCKET={{ backups_aws_s3_bucket }}
S3_PATH=db

AWS_REGION={{ backups_aws_region }}
AWS_SECRET_ACCESS_KEY={{ backups_aws_secret_access_key }}
AWS_ACCESS_KEY_ID={{ backups_aws_access_key_id }}
