# The environment {dev|staging|prod}
ENV={{ env }}

# Optional ID to turn on google analytics
GOOGLE_ANALYTICS_ID={{ google_analytics_id }}

# Optional ID to turn on Fathom analytics
FATHOM_SITE_ID={{ fathom_site_id }}

# Infinite Web Portal
APP_URL={{ app_url }}

# Infinite API
API_URL={{ api_url }}

# Slack Contact Form
SLACK_WEBHOOK_CONTACT={{ slack_webhook_contact }}

# Timezone handling
TIMEZONE_DEFAULT='{{ timezone_default }}'
TIMEZONE_OPTIONS='{{ timezone_options }}'
