# The environment {dev|staging|prod}
ENV={{ env }}

# Optional ID to turn on google analytics
GOOGLE_ANALYTICS_ID={{ google_analytics_id }}

# AWS
AWS_REGION={{ images_aws_region }}
AWS_ACCESS_KEY_ID={{ images_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ images_aws_secret_access_key }}
AWS_SERVER_URL={{ images_aws_server_url }}
AWS_S3_UPLOADS_BUCKET={{ images_aws_s3_bucket }}

# Infinite Web Portal
APP_URL={{ app_url }}

# Infinite API
API_URL={{ api_url }}

# Slack Contact Form
SLACK_WEBHOOK_CONTACT={{ slack_webhook_contact }}

# Timezone handling
TIMEZONE_DEFAULT={{ timezone_default }}
TIMEZONE_OPTIONS={{ timezone_options }}
