# The environment {dev|staging|prod}
ENV={{ env }}

# Optional ID to turn on Fathom analytics
NUXT_PUBLIC_FATHOM_SITE_ID={{ fathom_site_id }}

# Infinite Web Portal
NUXT_PUBLIC_APP_URL={{ app_url }}

# Infinite API
NUXT_PUBLIC_API_URL={{ api_url }}

# Slack Contact Form
NUXT_SLACK_WEBHOOK_CONTACT={{ slack_webhook_contact }}
NUXT_SLACK_WEBHOOK_ANALYTICS='{{ slack_webhook_analytics }}'

# Timezone handling
NUXT_PUBLIC_TIMEZONE_DEFAULT='{{ timezone_default }}'
NUXT_PUBLIC_TIMEZONE_OPTIONS='{{ timezone_options }}'

NUXT_SESSION_PASSWORD='{{ session_password }}'
