# disable host root access

-
  hosts: all
  tasks:
    # Copy docker-compose and any supporting files
    - name: Ensures ~/docker-files/keys/ dirs exist
      file:
        path: "{{ item }}"
        state: directory
      loop:
        - ~/docker-files
        - ~/docker-files/keys
    - name: Copy ~/docker-files/ Files
      copy:
        src: ./docker-files/{{ item }}
        dest: ~/docker-files/{{ item }}
      loop:
        - docker-compose.yml
    - name: Copy PEM key
      copy:
        src: ./docker-files/keys/{{ env }}-1nfinite.pem
        dest: ~/docker-files/keys/1nfinite.pem
    - name: Create secrets file for containers
      template:
        src: docker-files/{{ item }}.j2
        dest: ~/docker-files/{{ item }}
      loop:
        - web-portal.env
        - api.env
    # setup nginx
    - name: delete default nginx site
      become: true
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent
    - name: Copy NginX Config
      become: true
      copy:
        src: nginx/{{env}}/sites-enabled/{{item}}
        dest: /etc/nginx/sites-enabled/
        owner: root
        group: root
        mode: '0644'
      loop:
        - api.infinite.com
        - infinite.com

    # set global environment variables (defined at top of script)
    - name: customize /etc/environment
      become: true
      ansible.builtin.lineinfile:
        dest: "/etc/environment"
        state: present
        regexp: "^INFINITE_IMAGE_VERSION_TAG="
        line: "INFINITE_IMAGE_VERSION_TAG={{ infinite_image_version_tag }}"
