---
- name: populate .env file for the ops container
  template:
    src: templates/ops.env.j2
    dest: ~/docker-files/ops.env
- name: create the directory to store backups
  file:
    path: ~/backups
    state: directory
- name: fetch (or update) the container
  command: docker pull ghcr.io/infinite-industries/ops-server:{{ image_version }}
- name: create systemd files for db-backup
  become: true
  copy:
    src: "{{ item }}"
    dest: /etc/systemd/system/{{ item }}
  loop:
    - infinite-db-backup.service
    - infinite-db-backup.timer
- name: enable the timer
  become: true
  systemd:
    name: infinite-db-backup.timer
    enabled: true
    state: started
    daemon_reload: true
- name: include backup execution
  include_tasks:
    file: backup.yml
    apply:
      tags:
        - backup
  tags:
    - always
