name: API Server Tests

on:
  pull_request:
    branches:
      - development
      - master
    paths:
      - 'api-server/**'
      - '.github/workflows/api-tests.yml'
  push:
    branches:
      - development
      - master
    paths:
      - 'api-server/**'
      - '.github/workflows/api-tests.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Check Node version
        run: node --version
      - name: Install API Server Dependencies
        run: npm ci
        working-directory: './api-server'
      - name: Run Tests
        run: npm run test:e2e
        working-directory: './api-server'
        env:
          PORT: 3003
