name: Publish container images

# initially: limit execution to manual execution
#
# ${{ inputs.ref_name }} is set to the branch / ref specified, and is used to
# build & tag the container image
on:
  workflow_dispatch:
    environment: container-image-publication
    inputs:
      ref_name:
        description: 'A branch or to use'
        required: true
        default: development
        type: string


# in the future, execute anytime the development or master branch is updated
#
# ${{ github.ref_name }} is set to the branch name, and is used to build &
# tag the container image
#
#on:
#  push:
#    branches:
#      - master
#      - development

jobs:
  publish-ops-server:
    environment: container-image-publication
    runs-on: ubuntu-latest
    steps:
      - name: checkout branch
        uses: actions/checkout@v3
        with:
          ref: $REPO_REF
      - name: install casey/just
        uses: extractions/setup-just@v1
        with:
          just-version: 1.13.0
      - name: build the image
        run: just build
      - name: publish the image
        run: just image=infinite-industries/ops registry_user=${{ github.actor }} registry_pass_var=GITHUB_TOKEN publish ${{ inputs.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
