[Unit]
Description=Backup the database

[Service]
User=infinite
Group=infinite
Type=oneshot
WorkingDirectory=/home/infinite
ExecStart=docker run --env-file docker-files/ops.env -v /home/infinite/backups:/var/tmp/backups --rm ghcr.io/jswank/ops:latest bin/db-backup 

[Install]
WantedBy= multi-user.target

